body {
    font-family: Arial, sans-serif;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.container {
    background-color: black;
    padding: 20px;
    border-radius: 12px;
    max-width: 500px;
}

#display {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(156, 156, 156, 0.481);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 5px;
}

button {
    height: 60px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgba(156, 156, 156, 0.481);
    color: white;
    border: 2px solid black;
}

.operator {
    width: 25%;
}

.number,
#C {
    width: calc(100% / 3);;
}

#equalContainer {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.number {
    box-shadow: inset 2px 2px rgb(138, 137, 137);
}

.number:hover {
    background-color: rgba(192, 192, 192, 0.481);
}

.operator {
    background-color: #ff9500;
    box-shadow: inset 2px 2px #fec06a;
}

.operator:hover {
    background-color: #e08900;
}

#equal {
    background-color: #28d751d0;
    color: white;
    width: 100%;
    box-shadow: inset 2px 2px #3be563d0;
}

#equal:hover {
    background-color: #28d75195;
}

#C {
    background-color: #ff3b30;
    color: white;
    box-shadow: inset 2px 2px #fd8781;
}

#C:hover {
    background-color: #d62b1a;
}